In [2]:
import sys
sys.path.insert(0, '../Code/')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import load_data

In [3]:
data = load_data.import_cleaned_data('train')

Tokenization took: 31.64 ms
Type conversion took: 70.70 ms
Parser memory cleanup took: 0.21 ms
Tokenization took: 15.32 ms
Type conversion took: 61.11 ms
Parser memory cleanup took: 0.04 ms
Tokenization took: 16.28 ms
Type conversion took: 65.80 ms
Parser memory cleanup took: 0.14 ms
Tokenization took: 0.14 ms
Type conversion took: 2.45 ms
Parser memory cleanup took: 0.00 ms

In [4]:
def plot_categorical_data(data):
    """
    
    """

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,month_action,day_action,hour_action,minute_action,year_checkin,month_checkin,day_checkin,year_checkout,month_checkout,day_checkout
0,2,3,66,348,48862,2234.2641,12,0,1,9,...,8,11,7,46,1,8,27,1,8,31
1,2,3,66,348,48862,2234.2641,12,0,1,9,...,8,11,8,22,1,8,29,1,9,2
2,2,3,66,348,48862,2234.2641,12,0,0,9,...,8,11,8,24,1,8,29,1,9,2
3,2,3,66,442,35390,913.1932,93,0,0,3,...,8,9,18,5,1,11,23,1,11,28
4,2,3,66,442,35390,913.6259,93,0,0,3,...,8,9,18,8,1,11,23,1,11,28